<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/htmlparser.js' charset="UTF-8"></script>
    <script src='/javascripts/he.js' charset='UTF-8'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <textarea name="name" id="txt" cols="30" rows="10">
        <p>sks <img src="null" alt="" onerror="alert(1)"></p>
    </textarea>

    <button type="button" name="button" id="btn">评论</button>
    <button type="button" name="button" id="get">获取评论</button>

    <script type="text/javascript">
        var btn = document.getElementById('btn');
        var get = document.getElementById('get');
        var txt = document.getElementById('txt');

        //解码 配对校验
        var parse = function(str) {
            var result = '';
            try {
                HTMLParser(he.unescape(str, {strict:true}), {
                    start(tag, attrs, unary) {
                        if(tag == 'img' || tag == 'style' || tag == 'iframe'
                            || tag == 'frame' || tag == 'script') return;
                        result += '<' + tag;
                        /**
                         * 避免xss攻击，不解析
                         * for(let i = 0; i < attrs.length; ++i) {
                         *    result += ' ' + attrs[i].name + '="' + attrs[i].escaped + '"';
                         * }
                         */
                        result += (unary? '/': '') + '>';
                    },
                    end(tag) {
                        result += '</' + tag + '>';
                    },
                    chars(text) {
                        result += text;
                    },
                    comment(text) {
                        result += '<!--' + text + '-->';
                    },
                });
                return result;
            } catch(e) {
                console.log(e);
            } finally {

            }
        }

        btn.addEventListener('click', () => {
            var xhr = new XMLHttpRequest();
            var url = '/comment?comment=' + txt.value;
            xhr.open('GET', url, true);
            xhr.onReadystatechange = () => {
                if (xhr.readyState==4) {
                    if (xhr.status==200) {
                        console.log(xhr.response);
                    }else {
                        console.log('error');
                    }
                }
            }
            xhr.send();
        });

        get.addEventListener('click', () => {
            var xhr = new XMLHttpRequest();
            var url = '/getComment';
            xhr.open('GET', url, true);
            xhr.onreadystatechange = () => {
                if (xhr.readyState==4) {
                    if (xhr.status==200) {
                        let com = parse(JSON.parse(xhr.response).comment.v);
                        var txt = document.createElement('span');
                        txt.innerHTML = com;
                        document.body.appendChild(txt);
                    }else {
                        console.log('error');
                    }
                }
            }
            xhr.send();
        });
    </script>
  </body>
</html>
